<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
  <title>About Us</title>
</head>
<body>

<header>
  <%- include('partials/navigation'); %>
</header>

<main class="container">
  <div class="jumbotron">
    <h1 class="mt-5">About Us Page</h1>
    <p>A sample express.js app using ejs for templating, mocha for tests</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem debitis voluptatem odit iste a alias blanditiis veniam, distinctio quas tempore, nulla totam perferendis nam quia, et molestias illo id laboriosam?</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptas perspiciatis, reprehenderit iure unde deleniti dolorem aliquid tempore nemo commodi. Dolorem voluptatum error, sed numquam libero quisquam reprehenderit quibusdam facilis.
  </div>
</main>

</body>
</html>