<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
  <title>Home Page</title>
</head>
<body>

<header>
  <%- include('partials/navigation'); %>
</header>

<main class="container">
  <div class="jumbotron">
    <h1 class="mt-5">Home Page</h1>
    <h2 class="mt-5">MapUp DevOps Engineer Technical Assignment</h2>
    <p>A sample express.js app using ejs for templating, mocha for tests</p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora asperiores eius magnam aut maiores odit tenetur accusamus amet molestiae assumenda ipsum eaque explicabo excepturi laudantium recusandae eum, vero sequi eligendi!
    </p>
  </div>
</main>

</body>
</html>